<!-- templates/header.html -->

{% load static %}

<header>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <!-- Логотип -->
                <img src="{% static 'img/logo.png' %}" width="75" height="75" class="d-inline-block align-top" alt="Логотип">
            </div>
            <div class="col-auto">
                <!-- Текст -->
                <h2 class="text-center text-smoothing" style="font-smoothing: antialiased; text-rendering: optimizeLegibility; color: white;">
                    Отчётный концерт хореографического коллектива <span> Вступление</span>
                </h2>
            </div>
        </div>
    </div>
</header>